.icon {
    width: 50px;
    height: 50px;
    mask-size: 2em;
  
    background-color: #000;
  
    &.map {
        mask: url(map.svg) no-repeat center;
    }
    &.collection {
        mask: url(collection.svg) no-repeat center;
    }
    &.new-hint {
        mask: url(new-hint.svg) no-repeat center;
    }
    &.sync {
      mask: url(sync.svg) no-repeat center;
    }
    &.logout {
        mask: url(logout.svg) no-repeat center;
    }
    &.delete {
      mask: url(delete.svg) no-repeat center;
    }
    &.save {
      mask: url(save.svg) no-repeat center;
    }
    &.flash {
      mask: url(flash.svg) no-repeat center;
    }
    &.trowel {
      mask: url(trowel.svg) no-repeat center;
    }
    &.marker {
      mask: url(marker.svg) no-repeat center;
    }
    &.settings {
      mask: url(settings.svg) no-repeat center;
    }
    &.location {
      mask: url(location.svg) no-repeat center;
    }
    &.compass {
      mask: url(compass.svg) no-repeat center;
    }
    &.chart {
      mask: url(chart.svg) no-repeat center;
    }
  }