@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');


.abstract-invader {
    position: relative;
    border-radius: 4px;
    background-color: #00000011;

    aspect-ratio: 1 / 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 100px;

    cursor: pointer;
    
    


    .logo {
        position: absolute;
        mask: url(../icons/invader.svg) no-repeat center;
        background-color: #000000;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: scale(0.6);
        opacity: 0.2;
        transition: transform 0.15s, opacity 0.15s;
    }

    .name {
        text-align: center;
        font-size: 25px;
        line-height: 45px;
        font-weight: 600;
        font-family: "Shadows Into Light", cursive;
        color: #000;
        opacity: 0.3;
        transition: opacity 0.15s;
    }

    &:hover {
        .name {
            color: #000000aa;
            opacity: 0.8;
        }   
        .logo {
            transform: scale(0.65);
            opacity: 0.3;
        }
    }

    &.hint {
        background-color: #2bcc2344;

        &.dead {
            background-color: #222;

            .logo {
                background-color: #fff;
            }
            .name {
                color: #ffffff
            }
        }
    }
}


@media screen and (max-width:640px) {
    .abstract-invader {
        .name {
            font-size: 18px;
            line-height: 35px;
        }
    }
}  