.city-stats {
    min-width: 50px;
    height: 8px;
    display: flex;
    overflow: hidden;
    background: #eee;

    .flashs {
        background: #2bcc23; 
    }
    .hints {
        background: #00acff; 
    }
    .deads {
        background: #666;
    }
}