.city {
    padding: 10px 20px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    display: flex;
    cursor: pointer;
    align-items: center;
    
    .icon {
        height: 20px;
        transition: 0.2s transform;
        width: 20px;
        margin: 0 10px 0 0;
    }

    &.current .icon {
        transform: rotate(90deg);
    }

    .name {
        width: 150px;
        flex-grow: 1;
    }

    .city-stats {
        flex-grow: 1;
        width: 50px;
        max-width: 200px;
    }

    .stats {
        color: #aaa;
        font-size: 16px;
        width: 100px;
        text-align: right;
    }
}