.mode-selector {
    display: flex;
    justify-content: space-around;
}
.collection-container {
    padding: 0 0 54px 0;
}
.collection {
    display: grid;
    //grid-template-columns: auto auto auto auto auto auto;
    grid-template-columns: repeat(6, 1fr);
    
    padding: 1em;
    column-gap: 1em;
    row-gap: 1em;
}

.menu {
    .btn {
        transition: opacity 0.2s;

        &.hidden {
            opacity: 0;
        }
    }
}

@media screen and (max-width:640px) {
    .collection {
        grid-template-columns: auto auto auto;
    }
}