.mode-selector {
    display: flex;
    justify-content: space-around;
}
.collection-container {
    padding: 0 0 54px 0;

    .city {
        padding: 10px 20px;
        background: #fafafa;
        font-size: 20px;
        border-bottom: 1px solid #eee;
        text-transform: uppercase;
        display: flex;
        cursor: pointer;
        
        .icon {
            height: 20px;
            margin: 5px 0 0;
            transition: 0.2s transform;
        }

        &.current .icon {
            transform: rotate(90deg);
        }
    }
}
.collection {
    display: grid;
    //grid-template-columns: auto auto auto auto auto auto;
    grid-template-columns: repeat(6, 1fr);
    
    padding: 1em;
    column-gap: 1em;
    row-gap: 1em;
}

.menu {
    .btn {
        transition: opacity 0.2s;

        &.hidden {
            opacity: 0;
        }
    }
}

@media screen and (max-width:640px) {
    .collection {
        grid-template-columns: auto auto auto;
    }
}