.invader {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;

    .unknown-position-indicator {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #ff4422;
        border: 0 0 30px 30px;
        
        text-align: center;
        font-size: 2em;
        color: white;
        line-height: 0.85em;
    
        border-left: 30px solid #ff4422;
        border-top: 30px solid white;
        border-radius: 0 0 0 8px;
    }    
}