
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');

.invader-zoomed {
    z-index: 9;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 200px;
    right: 0;
    padding: 40px 0 65px 0;
    background-color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    transition: transform 0.3s;
    transform: translate(100%, 0);


    &.visible {
        transform: translate(0, 0);
    }

    img {
        display: block;
        max-height: 500px;
        max-width: 500px;
        width: auto;
        height: auto;
        border-radius: 4px;
    }

    .flex-space {
        flex: 1 0 0;
    }

    .details {
        color: #d1c0a6;
        position: relative;
        height: 500px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0 20px;

        .line {
            display: flex;
            font-family: "Special Elite", system-ui;
            font-size: 20px;
            line-height: 50px;
            
            label {
                font-weight: 600;
            }

            .value-container {
                width: 220px;
                font-weight: 400;
                position: relative;
                .value {
                    position: absolute;
                    top: -10px;
                    bottom: 0;
                    left: 20px;
                    right: 0;
                    font-family: "Shadows Into Light", cursive;
                    color: #000;
                    font-weight: 600;
                    font-size: 35px;

                    &.value-small {
                        top: -7px;
                        font-size: 20px;
                    }
                }
            }
        }


    }
}

@media screen and (max-width:640px) {
    .invader-zoomed {
        left: 0;
        flex-direction: column;
        transform: translate(0, 100%);
        

        img {
            max-height: 300px;
            max-width: 300px;
        }

        .details {
            width: 100%;
            align-items: center;
            height: 360px;

            .score {
                font-size: 120px;
                line-height: 100px;
            }
        }
    }

    
}  