.horizontal-scrollable {
    height: 100%;
    overflow-x: scroll;
    display: flex;

    .tab {
        height: 100%;
        flex-basis: 100vw;
        flex-shrink: 0;
        flex-grow: 0;
    }
}