.stats-page {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
    .graph-container {
        flex: 1 1 auto;
    }

    .today {
        flex: 0 0 50px;
        padding: 50px 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
            
        .value {
            font-size: 60px;
            color: #444;
            padding: 0 10px 0 0;
        }
        .label {
            font-size: 40px;
            color: #aaa;
        }

        .score, .count {
            border-bottom: 6px solid transparent;
        }
        

        &.count-active {
            .count {
                border-bottom: 6px solid #00acff;
                .label {
                    color: #00acff;       
                }
            }
            .score {
                cursor: pointer;
                &:hover {
                    border-bottom: 6px solid #ddd;
                }
            }
        }

        &.score-active {
            .score {
                border-bottom: 6px solid #2bcc23;
                .label {
                    color: #2bcc23;
                }
            }
            .count {
                cursor: pointer;
                &:hover {
                    border-bottom: 6px solid #ddd;
                }
            }
        }
    }
}

@media screen and (max-width:640px) {
    .stats-page {
        padding: 0 0 50px 0;
        .counts {
            padding: 0;
            .label {
                font-size: 20px;
            }
        }
    }
}