.mode-selector {
    display: flex;
    justify-content: space-around;
}
.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    row-gap: 1em;
    padding: 0.3em;

    div {
        width: 120px;
        border-radius: 8px;
        overflow: hidden;
    }
}


@media screen and (max-width:640px) {
    .invader-group {
        .stats {
            flex-direction: row-reverse;
        }
    }
}