.icon {
    width: 50px;
    height: 50px;
    mask-size: 2em;
  
    background-color: #000;
  
    &.map {
        mask: url(Icons/map.svg) no-repeat center;
    }
    &.collection {
        mask: url(Icons/collection.svg) no-repeat center;
    }
    &.new-hint {
        mask: url(Icons/new-hint.svg) no-repeat center;
    }
    &.sync {
      mask: url(Icons/sync.svg) no-repeat center;
    }
    &.logout {
        mask: url(Icons/logout.svg) no-repeat center;
    }
    &.delete {
      mask: url(Icons/delete.svg) no-repeat center;
    }
    &.save {
      mask: url(Icons/save.svg) no-repeat center;
    }
    &.flash {
      mask: url(Icons/flash.svg) no-repeat center;
    }
    &.trowel {
      mask: url(Icons/trowel.svg) no-repeat center;
    }
    &.marker {
      mask: url(Icons/marker.svg) no-repeat center;
    }
    &.settings {
      mask: url(Icons/settings.svg) no-repeat center;
    }
    &.location {
      mask: url(Icons/location.svg) no-repeat center;
    }
    &.compass {
      mask: url(Icons/compass.svg) no-repeat center;
    }
    &.chart {
      mask: url(Icons/chart.svg) no-repeat center;
    }
  }