.icon {
    width: 50px;
    height: 50px;
    mask-size: 2em;
  
    background-color: #000;
  
    &.map {
        mask: url(icons/map.svg) no-repeat center;
    }
    &.collection {
        mask: url(icons/collection.svg) no-repeat center;
    }
    &.new-hint {
        mask: url(icons/new-hint.svg) no-repeat center;
    }
    &.sync {
      mask: url(icons/sync.svg) no-repeat center;
    }
    &.logout {
        mask: url(icons/logout.svg) no-repeat center;
    }
    &.delete {
      mask: url(icons/delete.svg) no-repeat center;
    }
    &.save {
      mask: url(icons/save.svg) no-repeat center;
    }
    &.flash {
      mask: url(icons/flash.svg) no-repeat center;
    }
    &.trowel {
      mask: url(icons/trowel.svg) no-repeat center;
    }
    &.marker {
      mask: url(icons/marker.svg) no-repeat center;
    }
    &.settings {
      mask: url(icons/settings.svg) no-repeat center;
    }
    &.location {
      mask: url(icons/location.svg) no-repeat center;
    }
    &.compass {
      mask: url(icons/compass.svg) no-repeat center;
    }
    &.chart {
      mask: url(icons/chart.svg) no-repeat center;
    }
    &.puzzle {
      mask: url(icons/puzzle.svg) no-repeat center;
    }
    &.magnifying-glass {
      mask: url(icons/magnifying-glass.svg) no-repeat center;
    }
    &.chart-line {
      mask: url(icons/chart-line.svg) no-repeat center;
    }
    &.chart-column {
      mask: url(icons/chart-column.svg) no-repeat center;
    }
    &.chevron-down {
      mask: url(icons/chevron-down.svg) no-repeat center;
    }
    &.chevron-right {
      mask: url(icons/chevron-right.svg) no-repeat center;
    }
    &.arrow-up {
      mask: url(icons/arrow-up.svg) no-repeat center;
    }
    &.arrow-down {
      mask: url(icons/arrow-down.svg) no-repeat center;
    }
  }