.loading-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main-message {
        font-size: 1.5em;
        font-weight: 800;
    }
    img {
        width: 60px;
        margin: 0 auto;
    }

}