

#map-container {
    #map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #pano {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.full-map {
        display: block;
        #pano {
            display: none;
        }
    }
    &.map-and-pano {
        #map {
            bottom: 50%;
        }
        #pano {
            display: block;
        }
    }
    &.map-pano-and-hints {
        #map {
            bottom: 50%;
            left: 10%;
        }
        #pano {
            display: block;
        }
    }
    &.hidden {
        display: none;
        background: red;
    }

    .buttons {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        z-index: 1000;
        padding: 0.5em;
        display: flex;
        border-top: 1px solid #ddd;
        justify-content: space-between;
    }
}

