.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 200px;
    bottom: 0;
    background: white;
    border-right: 1px solid #eee;
    

    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .nav-items {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: 0 0 70%;
            align-items: center;

            img.loading {
                width: 40px;
                height: 40px;
            }
        }

        .action-items {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: 0 0 30%;
        }
    }
}

@media screen and (max-width:640px) {
    .menu {
        display: fixed;
        z-index: 10;
        bottom: 0;
        height: 54px;
        background: #fff;
        border-right: none;
        border-top: 1px solid #ddd;
        left: 0;
        right: 0;
        top: auto;
        width: auto;


        .menu-container {
            position: static;
            background: none;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0;

            .nav-items {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                img.loading {
                    width: 30px;
                    height: 30px;
                }
            }
    
            .action-items {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }

            
            
            .logo-container {
                display: none;
            }

            .summary {
                display: none !important;
            }

            .btn {
                
                display: block;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1em;
                border-radius: 0.4em;
                margin: 0.5em 0.6em;
                padding: 0;

                &.no-mobile {
                    display: none;
                }

                
            }

            .buttons {
                display: none;
            }
        }
    }
    
}