.search-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000aa;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .search-modal {
        width: 600px;
        height: 50px;   
        

    
        div[role=combobox] {
            width: 100%;
            
        }
        input {
            outline: none;
            width: 100%;
            background-color: #fff;
            line-height: 40px;
            border: none;
            padding: 5px 15px;
            border-radius: 4px;
        }
        ul {
            list-style-type: none;
            border-radius: 0 0 4px 4px;
            overflow: hidden;
            margin: 0 20px 0 20px;
            padding: 0;

            li {
                height: 30px;
                line-height: 30px;
                .item {
                    display: flex;
                    cursor: pointer;

                    
                    div.icon {
                        width: 26px;
                        height: 26px;
                        display: block;
                        margin: 2px 7px 2px 7px;
                        border-radius: 4px;
                        background-color: #ccc;
                        background: #2bcc2388;
                    }
                    img.icon {
                        width: 26px;
                        height: 26px;
                        margin: 2px 7px 2px 7px;
                        border-radius: 4px;
                    }

                }

                background-color: #ffffff;
                &[aria-selected=true] {
                    background: #eeeeee;
                }
                
            }
        }
    }
}
@media screen and (max-width:640px) {
    .search-overlay {
        align-items: start;

        .search-modal {

            input {
                border-radius: 0;
            }

            ul {
                border-radius: 0;
                margin: 0;

                li {
                    height: 40px;
                    line-height: 40px;

                    .item {
                        img.icon {
                            margin: 7px 7px 7px 7px;
                        }

                        div.icon {
                            margin: 7px 7px 7px 7px;
                        }
                    }
                }
            }
        }
    }

}